/*
Common
**********************/
html,
body {
    height: 100;
}
.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
/*
Post
**********************/

.post_form {
    padding: 20px 40px;
    border_bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #b5f3de;
    border: none;
}

.post_form textarea {
    width: 70%;
}

.posts ul {
    padding: 0;
}

.posts li {
    display:flex;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    list-style: none;
    position: relative;
}

.posts li .menu_icon {
    
    position: absolute;
   width: 20px;
   top: 18px;
   right: 30px;
}

.posts li .menu {
    display: none;
   position: absolute;
   top: 40px;
   right: 15px;
   border: 1px solid #ccc;
   background-color: white;
   padding: 10px 15px;
   font-size: 13px;
   border-radius: 3px;


}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .name_datetime {
    color: gray;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
    
}
section.post_form {
    
    border-bottom: 1px solid #ccc;
}

.header {
    border-bottom: 1px solid black;
    display: flex;
}
h1.heading {
    margin-left: 7%;
   
}

button.btn {
    margin-left: 15%;
    font-size: x-large smaller;
    border-radius: 2px;
}

.globe {
   width: 10%;
}
input[type="submit"] {
    background-color: #66c1ff;
    width: 20%;
    border-radius: 4px;
    margin-left: 3%;
    border: none;
    color: white;
    font-size: larger;
    font-weight: 600;
}
button {
    width: 20%;
    padding: 2%;
    border: none;
    border-radius: 3px;
    background-color: #66c1ff;
    
    color: white;
    font-size: larger;
    font-weight: 600;
}
input[type="file"] {
    border: none;
}
button.likes-button {
    border: none;
    /* background-color: white; */
    color: red;
}